.intro-section {
  /* background-image: url('../public/images/background2.svg'), url('../public/images/background3.svg'); */
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right 110%, left bottom;
  background-size: 75px;
}
.intro-background {
  /* background-image: url("../../../public/images/background_intro.png"); */
  background-size: cover;
  min-height: 90vh;
  background-position-y: bottom;
  width: 100vw;
}
@media only screen and (max-width: 640px){
  .intro-section .content-height{
    height:80vh !important;
  }
}
@media only screen and (min-width: 640px){
.intro-section .content-height{
  height:72vh !important;
}
}