@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

* {
  font-family: 'Manrope', sans-serif !important;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fafbfc;
  font-family: 'Manrope', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.uk-button {
  border-radius: 0.5rem !important;
  text-transform: none !important;
}

.uk-card {
  border-radius: 0.75rem !important;
}

.uk-navbar-left .uk-divider-vertical {
  height: 40px !important;
  border-left: 2px solid #b7bfc7;
}

@media only screen and (min-width: 640px) {
  .uk-card-media-right {
    border-top-right-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
  }
}

@media only screen and (max-width: 640px) {
  .uk-card-media-right {
    border-top-right-radius: 0.75rem !important;
    border-top-left-radius: 0.75rem !important;
  }
}

.uk-card-media-top,
.uk-card-media-top > img {
  border-top-right-radius: 0.75rem !important;
  border-top-left-radius: 0.75rem !important;
}

.uk-badge:hover {
  text-decoration: none;
}

.uk-subnav-pill > * > :first-child {
  padding: 10px 15px !important;
  background: transparent;
  color: #999;
  border: 1px solid #b7bfc7 !important;
  border-radius: 30px !important;
}

.uk-subnav-pill > li > button:focus {
  color: #ffffff;
  background-color: #222 !important;
}

.uk-breadcrumb > :nth-child(n + 2):not(.uk-first-column)::before {
  content: '>' !important;
}

.uk-search-default .uk-search-input {
  background: #fefefe !important;
  border-radius: 5px !important;
}

.uk-input {
  border-radius: 6px !important;
}

.uk-icon-button {
  background-color: black !important;
  color: white !important;
}

.uk-form-width-medium {
  width: 359.52px !important;
}

.uk-checkbox {
  border-radius: 50% !important;
}

.uk-checkbox:checked {
  background-size: 13px;
}

.uk-link {
  color: #0362a7e5 !important;
}
.height-auto {
  height: auto;
}
.pos-relative {
  position: relative;
}
@media only screen and (max-width: 640px) {
  .uk-heading-small {
    font-size: 2rem !important;
  }
  .uk-text {
    font-size: 14px !important;
  }
}
