import React from 'react';

import { {{pascalCase name}}Props } from './config';
import styles from './styles.module.css';

export default function {{pascalCase name}}({}:{{pascalCase name}}Props) {
    return <div></div>
}
